////
/// Images
/// @description Collection of classes to help position and tweak images.
/// @group Base
////

img {
  display: block;
  max-width: 100%;
}

figure > img {
  display: block;
}

a img {
  border: 0;
}

/// Non Fluid
/// @description Non-fluid images if you specify `width` and/or `height`
/// attributes.
/// @example[html]
///   <img src="http://fillmurray.com/100/100" width="20" height="20">

img[width],
img[height] {
  max-width: none;
}

/// Rounded images
/// @description Adds a border radius to an image.
/// @example[html]
///   <img src="http://fillmurray.com/100/100" class="img--round">

%img--round,
.img--round {
  border-radius: map-fetch($border-radius, base);
}

/// Circle images
/// @description Make a square image circular.
/// @example[html]
///   <img src="http://fillmurray.com/100/100" class="img--circle">

%img--circle,
.img--circle {
  border-radius: 100%;
}

/// Border images
/// @description Adds a border to an image.
/// @example[html]
///  <img src="http://fillmurray.com/100/100" class="img--border">

%img--border,
.img--border {
  border: 1px solid map-fetch($color, ui base);
}

/// Image placement
/// @description Float images or center them using `margin: auto`.
/// @example[html]
///   <img src="http://fillmurray.com/100/100" class="img--right">

%img--right,
.img--right {
  float: right;
  margin-bottom: spacer(1);
  margin-left: spacer(1);
}

%img--left,
.img--left {
  float: left;
  margin-right: spacer(1);
  margin-bottom: spacer(1);
}

%img--center,
.img--center {
  display: block;
  margin-right: auto;
  margin-bottom: spacer(1);
  margin-left: auto;
}
